{% extends 'base.html' %}

{% block content %}
  <h1>About the Finch Collector</h1>
  <hr />
  <p>Welcome to the Finch Collector application! This app allows you to explore and learn about various finch species.</p>
  <p>Whether you're a bird enthusiast or just curious about these colorful creatures, Finch Collector provides information about different finch species, including their names, colors, breeds, descriptions, and ages.</p>
  <footer>All Rights Reserved, &copy; 2022 Finch Collecto</footer>
{% endblock %}
  