body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

/* Custom styles for the navbar */
.navbar-fixed {
  background-color: teal;
}

.nav-wrapper {
  padding: 0 20px;
}

.nav-wrapper ul li a {
  color: white; /* Set the link color to white */
}